body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#container .project {
    background-color: darkcyan;
    padding-left: 5%;
    padding-right: 5%;
    border-top: ivory 4px solid;
}
.project-inner {
    position: relative;
}
#splash {
    position: relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: initial;
}
#logo {
    margin-top: -5%;
    background-image: url(img/logo-txt-lg.png);
    width: 711px;
    height: 259px;
}
#tagline {
    font-size: xx-large;
    font-weight: bold;
}
#bkvid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#donate {
    position: absolute;
    top: 10px;
    right: 10px;
}

#contact li {
    height: 34px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 34px;
}
#contact .email {
    background-image: url(img/email.png);
}
#contact .twitter {
    background-image: url(img/twitter.png);
}
#copyright {
    align-self: center;
    color: initial;
}


h1 {
    margin-bottom: 0;
}
p {
    line-height: 1.5;
}
ul {
    list-style: none;
}
a {
    color: white;
}
.btn {
    text-decoration: none;
    background-color: #9fd067;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: white;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    overflow: visible;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
}

#forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#c11;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}
